<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Optimized Queries</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
            background-color: black;
        }
        h2{
            color:#f4f4f4;
        }
        .query-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        button {
            background-color: rgb(248, 124, 0);
            color: white;
            border: none;
            padding: 10px 20px;
            margin: 10px;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
            width: 500px;
        }
        button:hover {
            background-color: #0056b3;
        }
        pre {
            background: #f4f4f4;
            padding: 10px;
            border-radius: 5px;
            max-width: 600px;
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <h2>Optimized Queries</h2>
    <div class="query-container">
        <button onclick="window.location.href='/add_affectedareas'">Add Affected Area</button>    
        <button onclick="window.location.href='/add_resource'">Add Resource</button>    
        <button onclick="window.location.href='/relief_effort'">Relief Efforts</button>    
        <button onclick="window.location.href='/volunteer_assign'">Volunteer_assign</button>    
        <button onclick="window.location.href='/unassign-volunteer'">Unassign-volunteer</button>    
        <button onclick="window.location.href='/1'">Get Affected Areas with Highest Severity</button>
        <button onclick="window.location.href='/2'">Retrieve Available Volunteers with Medical Skills</button>
        <button onclick="window.location.href='/4'">Get Unallocated Donations</button>
        <button onclick="window.location.href='/disable-affected-area'">Disable Affected Area</button>
        <button onclick="window.location.href='/show-tables'">Show all Tables</button>

    </div>
    <% if(locals.message) { %>
        <script>
            alert("<%= message %>");
        </script>
    <% } %>
</body>
</html>