<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/createacc.css">
</head>
<body>
    <div id="leftmain">
        <h1>Welcome to disaster management System</h1>
    </div>

    <div id="rightmain">
        <h1>Create an account</h1>
        <p>Already have an account? | <a href="/">Login</a></p>
        <form method = 'post' action = "/Signup">
            <div id="name-fields">
                <input type="text" name="firstName" id="firstname" placeholder="Firstname">
                <input type="text" name="lastName" id="lastname" placeholder="Lastname">
            </div>
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit">Create account</button>
        </form>
    </div>
    
    
</body>
</html>