<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Home.css">
</head>
<body>
    <nav id="Nav">
        <a href="Home.html">Home</a>
        <a href="">About us</a>
        <button type="submit">Donation</button>
    </nav>
    <h1>Welcome to Disaster Management System</h1>
    <div class="container">
        <button type="button" class="box" id="volunteer">Volunteers</button>
        <button type="button" class="box" id="resource">Resource Tracking</button>
        <button type="button" class="box" id="donation">Donation Management</button>
        <button type="button" class="box" id="affected">Affected Area Management</button>
    </div>
    <div id="vol"></div>
</body>

<script src="Home.js"></script>

</html>