<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/LoginAcc.css">
</head>
<body style="background-color: #212121; color: #FFF;">
    <div id="leftmain">
        <h1>welcome to disaster management</h1>
    </div>
    <div id="rightmain">
        <form method = "post" action= "/Signin">
            <h2>Login</h2>
            <input type="text" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit">Login</button>
        
        </form>
            <p>Not have Account | <a href="/Signup">Create Account</a> </p>
            
    </div>
</body>
</html>